/*  Global styles  */
html,
body {
  width: 100%;
  height: 100%;
}

/*   Common all styles   */
body {
  font-size:25px;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
 }


/*   all heading common styles   */
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: rgb(104, 42, 233);
}

/*   Name title styles   */
h1 {
color: white;
  Font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 80px;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-bottom:0;
  line-height: 90%;
}

/*   Web developer wording style   */
h2 {
  font-size: 40px;
  font-weight:600;
 
}

/*   Purple card heading styles   */
h3 {
  font-size: 60px;
  font-weight: bolder;
}

/*   Card title styles   */
h5 {
  font-size: 40px;
  font-weight: bolder;
}

/*   Paragraph styles   */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: bold;
}

/*   adds some space between section break and text start   */
section {
  padding: 100px 0;
}

/*   Web developer wording style   */
section h2 {
  font-size: 50px;
}

/*   Heading text colour for purple sections   */
.sectionHeading{
  color:white
}

/*   Dropdown menu background styles   */
.menu {
  background-image: url(../images/photo-1541280910158-c4e14f9c94a3.jpg);
}

/*  Navbar background styles    */
.navbar {
  background-image: url(../images/photo-1541280910158-c4e14f9c94a3.jpg);
}

/*      */
.row {
  align-items: top;
  text-align: left;
}

/*   Jumbotraon background styles   */
.jumbotron {
  background-image:url(../images/photo-1541280910158-c4e14f9c94a3.jpg);
  width:100%;
  margin-bottom: 0;
  padding-top:0px;
}

/*   make photo on top    */
.myphoto {
  display:flex;
  z-index:3;
}

/*   round off image with border   */
.round {
  border:solid;
  border-radius:50%;
  border-width:5px;
  border-color: rgb(104, 42, 233);
}

/*   info background styles   */
.info {
  background-color:rgb(104, 42, 233);
  padding-top:30px;
}

/*   static styles for buttons   */
#Resumebutton button {
  color: rgb(104, 42, 233);
  font-size: 18px;
  width:150px;
  height: 35px;
  grid-column:3;
  border-color: rgb(104, 42, 233);
  border-radius: 5px;
  z-index:2;
}

/*   hover styles for buttons   */
#Resumebutton button:hover {
  color: white;
  border-color: white;
  background-color: rgb(104, 42, 233);
  box-shadow: 5px 5px 8px black;
  transition: 0.125s;
}

/*   Set background image for work section   */
.work-Section {
  background-image: url(../images/pexels-stein-egil-liland-3374210.jpg);
  padding-top:30px;
  
}

/*   Align center work heading   */
.work-Title {
  text-align: center;
  padding-bottom:10px;
}

/*   card style   */
.card {
  background-color: #343a40;
  border-style: solid;
  border-color: rgb(104, 42, 233);
  border-width:5px;
  border-radius:10px;
}

/*   Hover styles for cards   */
.card:hover{
border-style: solid;
border-color: white;
border-width:5px;
border-radius:10px;
transition: 0.125s;
box-shadow: 5px 20px 18px black;
}

/*   Set card text colour   */
.card-text {
 color:white;
}

/*   Set card image size and border radius   */
.card img {
  max-height:600px;
  border-top-left-radius: 4px;
}

/*   Positioning of 2nd card row  */
.container2{
  padding-top:30px;
}

/*   Set Skills style   */
.skills {
  background-color:rgb(104, 42, 233);
  padding-top:30px;
}

/*   Increase column width to prevent text wrap in second comumn   */
.row2 h3 {
  width:300px;
}

/*   Change image colour when hovering   */
.cardContainer img:hover{
  filter: grayscale(80%); /* Found this nice effect at https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
}

/*   Set footer style   */
.footer { 
  color:white;
  background-image: url(../images/photo-1541280910158-c4e14f9c94a3.jpg);
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

 /* Set footer font size */
.footer h4 {
  font-size: 20px;
}

